* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: url("background1.jpg") center center / cover no-repeat fixed;
    color: black;
    font-family: "Comic Sans MS", "Trebuchet MS", sans-serif;
}

.box {
    display: none;
    position: fixed;

    inset: 0;
    margin: auto;

    width: 320px;
    height: fit-content;

    padding: 25px;

    background: #ffffff;
    color: #3d3034;
    border: 1px solid #f1d9df;
    border-radius: 16px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);

    text-align: center;
    z-index: 9999;
}

.box:target {
    display: block;
}

#start {
    display: block;
}

body:has(.box:not(#start):target) #start {
    display: none;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 30px;
}

p {
    color: #9b737d;
    line-height: 1.7;
}

a {
    display: inline-block;
    background: #ffe1e8;
    color: #3d3034;
    border: 2px solid #f3c8d2;
    border-radius: 999px;
    padding: 11px 28px;
    margin: 5px;
    text-decoration: none;
    font-family: monospace;
    font-size: 14px;
    transition: 0.2s;
}

a:hover {
    background: #f7c5d1;
    transform: translateY(-2px);
}

@keyframes glitchDisappear {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

#glitch {
    display: none;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 99999;
}

#glitch:target {
    display: block;
}

#glitch > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    animation: glitchDisappear 3.5s forwards;
}

.glitch-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    padding: 25px;
    background: #080808;
    color: #ff003c;
    border: 1px solid #ff003c;
    border-radius: 16px;
    box-shadow:
        0 0 10px #ff003c,
        0 0 30px rgba(255, 0, 60, 0.4);
    text-align: center;
    font-family: monospace;
    z-index: 1;
}

.glitch-message p {
    color: #d6d6d6;
    line-height: 1.7;
}

.glitch-message a {
    display: inline-block;
    background: #111;
    color: #ff003c;
    border: 2px solid #ff003c;
    border-radius: 999px;
    padding: 11px 28px;
    margin: 5px;
    text-decoration: none;
}

#glitch2,
#glitch3,
#glitch4,
#glitch5,
#final {
    display: none;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 99999;
}

#glitch2:target,
#glitch3:target,
#glitch4:target,
#glitch5:target,
#final:target {
    display: block;
}

#glitch2 img,
#glitch3 img,
#glitch4 img,
#glitch5 img,
#final img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    animation: glitchDisappear 3.5s forwards;
}